Task 2.1.png
Task 2.2.png
Task 2.3.1.png
Task 2.3.2.png
Task 2.4.1.png
Task 2.4.2.png
Task 2.5.png
Task 2.6.png
Task 2.7.1.png
Task 2.7.2.png
Task 2.8.1.png
Task 2.8.2.png
Task 2.9.1.png
Task 2.9.2.png
Task 2.10.1.png
Task 2.10.2.png
Task 2.11.1.png
Task 2.11.2.png
Task 2.12.1.png
Task 2.12.2.png
Task 2.13.1.png
Task 2.13.2.png
Task 2.14.1.png
Task 2.14.2.png
Task 2.15.1.png
Task 2.15.2.png
Используемые цвета.txt
Web. Лабораторная работа №2.docx
Text.txt
Text 2.txt
